@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
    }
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-480px		Phone
481-680		Tablet - portrait mode
681-1024	Tablet- landscape mode
1025-1368	Netbook
1369-1600	Desktop
1601px+		Current styles apply

$breakpoint ARGUMENTS
- phone
- portrait
- landscape
- netbook
- desktop

1em = 16px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 30em) { @content };
	}
	@if $breakpoint == portrait {
		@media (max-width: 42.5em) { @content };
	}
	@if $breakpoint == landscape {
		@media (max-width: 64em) { @content };
	}
	@if $breakpoint == netbook {
		@media (max-width: 85.5em) { @content };
	}
	@if $breakpoint == desktop {
		@media (max-width: 100em) { @content };
	}
}