@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
    }
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-400px		Phone
401-700px	Tablet
701-900px	Netbook
901-1600px	Current styles apply
1600px+		Large desktops

$breakpoint ARGUMENTS
- phone
- tablet
- netbook
- lg-desk

1em = 16px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 25em) { @content };
	}
	@if $breakpoint == tablet {
		@media (max-width: 43.75em) { @content };
	}
	@if $breakpoint == netbook {
		@media (max-width: 56.25em) { @content };
	}
	@if $breakpoint == lg-desk {
		@media (min-width: 100em) { @content };
	}
}