/*
0-480px		Phone
481-680		Tablet - portrait mode
681-1024	Tablet- landscape mode
1025-1368	Netbook
1369-1600	Desktop
1601px+		Current styles apply

$breakpoint ARGUMENTS
- phone
- portrait
- landscape
- netbook
- desktop

1em = 16px
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 75%;
}

@media (max-width: 64em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 42.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 100em) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.primaryHeading {
  letter-spacing: 1rem;
}

@media (max-width: 30em) {
  .primaryHeading {
    letter-spacing: normal;
  }
}

.primaryHeading__main {
  color: #333;
  text-transform: uppercase;
}

.primaryHeading__sub {
  color: #999;
  text-transform: lowercase;
  padding-bottom: 1rem;
}

.secondaryHeading {
  text-align: left;
  color: #ffdd80;
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.about__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
  background: url(/img/candle-small.jpg) #fff;
  background-size: cover;
  background-position: bottom;
  border-radius: 3px;
  font-size: 1.6rem;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 30em) {
  .about__content {
    width: 90%;
    height: 90%;
  }
}

.about__text {
  background-color: transparent;
  color: #eee;
  width: 25%;
  font-size: 2rem;
  text-align: left;
  padding: 10rem;
  position: relative;
  left: 50%;
}

@media (max-width: 30em) {
  .about__text {
    width: 50%;
    left: 10%;
    top: 30%;
  }
}

.about:target {
  opacity: 1;
  visibility: visible;
}

.about:target .about__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.about__close:link, .about__close:visited {
  color: #999;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
  z-index: 3001;
}

@media (max-width: 30em) {
  .about__close:link, .about__close:visited {
    color: #ffb900;
    top: .5rem;
    right: 1.5rem;
  }
}

.about__close:hover {
  color: #ff7730;
  cursor: pointer;
}

.about__link:link, .about__link:visited {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 30em) {
  .about__link:link, .about__link:visited {
    color: #ffb900;
    opacity: 1;
  }
}

.about__link:hover, .about__link:active {
  color: #ff7730;
  cursor: pointer;
}

.button, .button:link, .button:visited {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.5rem #fff, 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0.3rem 0.3rem 0.5rem #fff, 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all;
  transition: all;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 7rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1.6rem;
  color: #333;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem #fff, 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0.2rem 0.2rem 0.5rem #fff, 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  -webkit-box-shadow: inset 0.4rem 0.4rem 0.9rem rgba(0, 0, 0, 0.8);
          box-shadow: inset 0.4rem 0.4rem 0.9rem rgba(0, 0, 0, 0.8);
}

.contact {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.contact__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
  background: url(/img/candle-small.jpg) #fff;
  background-size: cover;
  background-position: bottom;
  border-radius: 3px;
  font-size: 1.6rem;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 30em) {
  .contact__content {
    width: 90%;
  }
}

.contact__text {
  background-color: transparent;
  color: #eee;
  width: 25%;
  font-size: 2rem;
  text-align: left;
  padding: 10rem;
  position: relative;
  left: 30%;
}

@media (max-width: 30em) {
  .contact__text {
    width: 50%;
    left: 25%;
    padding: 6rem;
  }
}

.contact:target {
  opacity: 1;
  visibility: visible;
}

.contact:target .contact__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.contact__close:link, .contact__close:visited {
  color: #999;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
  z-index: 3001;
}

@media (max-width: 30em) {
  .contact__close:link, .contact__close:visited {
    color: #ffb900;
    top: .5rem;
    right: 1.5rem;
    font-size: 3rem;
  }
}

.contact__close:hover {
  color: #ff7730;
  cursor: pointer;
}

.contact__link:link, .contact__link:visited {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 30em) {
  .contact__link:link, .contact__link:visited {
    color: #ffdd80;
  }
}

.contact__link:hover, .contact__link:active {
  color: #ff7730;
  cursor: pointer;
}

.credits {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.credits__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
  /* background: url(/img/candle-small.jpg) $color-white; */
  background-size: cover;
  background-position: bottom;
  border-radius: 3px;
  font-size: 1.6rem;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.credits:target {
  opacity: 1;
  visibility: visible;
}

.credits:target .credits__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.credits__close:link, .credits__close:visited {
  color: #999;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
  z-index: 3001;
}

@media (max-width: 30em) {
  .credits__close:link, .credits__close:visited {
    color: #ffb900;
  }
}

.credits__close:hover {
  color: #ffb900;
  cursor: pointer;
}

/* COUNTRY SELECTION DROPDOWN */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 1rem;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select:required:invalid {
  color: #999;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: #333;
}

/* FORM */
input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 5rem;
}

.form__group {
  margin-bottom: 2rem;
  line-height: 0;
}

.form__input {
  font-size: inherit;
  font-family: inherit;
  color: #333;
  padding: 1rem;
  width: 45%;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: none;
  border-bottom: 3px solid transparent;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__link {
  padding: 0 0 4rem 0;
}

.form__link:link, .form__link:visited {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__link:hover, .form__link:active {
  color: #ff7730;
  cursor: pointer;
}

.memory {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 3000;
}

.memory__lovedOne {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 80%;
  width: 25%;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.8);
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 3px;
  background-color: rgba(51, 51, 51, 0.8);
}

@media (max-width: 30em) {
  .memory__lovedOne {
    height: 90%;
    width: 90%;
  }
}

.memory__lovedOne-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.memory__lovedOne-text p {
  position: absolute;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  font-size: 2rem;
  padding: 0;
  color: #eee;
  text-align: justify;
  line-height: 1.3;
}

@media (max-width: 30em) {
  .memory__lovedOne-text p {
    font-size: 1.7rem;
  }
}

.memory__peterDario {
  background-image: url(/img/Dario-Sr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__warlitoValdez {
  background-image: url(/img/warlito-valdez.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__frankGabrin {
  background-image: url(/img/Frank-Gabrin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__juanitaRobinson {
  background-image: url(/img/juanita-robinson-and-howard-robinson.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__margaretShea {
  background-image: url(/img/margaret-shea.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.memory__susanFarrell {
  background-image: url(/img/Susan-Farrell.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__rebeccaMack {
  background-image: url(/img/Rebecca-Mack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__arleneReid {
  background-image: url(/img/arlene-reid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__bellyMujinga {
  background-image: url(/img/Belly-Mujinga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory__joeMattern {
  background-image: url(/img/Joe-Mattern.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.memory:target {
  opacity: 1;
  visibility: visible;
}

.memory:target .memory__lovedOne {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.memory__close:link, .memory__close:visited {
  color: #eee;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
  z-index: 3001;
}

.memory__close:hover {
  color: #fff;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.photos__column {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  max-width: 20%;
  padding: 0;
}

@media (max-width: 30em) {
  .photos__column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.photos__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos__wrapper:hover .photos__memory {
  opacity: 1;
  cursor: pointer;
}

.photos__memory {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 30em) {
  .photos__memory {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
}

.photos__memory:link, .photos__memory:focus, .photos__memory:visited {
  text-decoration: none;
}

.photos__details {
  margin: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photos__name-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #f7f7f7;
  text-transform: uppercase;
}

.photos__name-date h4 {
  padding: 0;
  font-size: 2rem;
}

.photos__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #ffdd80;
  text-align: justify;
  font-size: 1.3rem;
}

.photos__more-read {
  padding: 0rem;
}

.photos__more-read > span {
  color: #fff;
}

img {
  width: 100% !important;
  height: auto !important;
  vertical-align: middle;
}

.share {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.share__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  background: url(/img/candle-small-flip.jpg), rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: bottom;
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.share__content-text {
  padding: 5rem 0 5rem 5rem;
  font-size: 2rem;
}

.share__content-link:link, .share__content-link:visited {
  text-decoration: none;
  color: #ffb900;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.share__content-link:hover, .share__content-link:active {
  color: #ffdd80;
  cursor: pointer;
}

.share:target {
  opacity: 1;
  visibility: visible;
}

.share:target .share__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.share__close:link, .share__close:visited {
  color: #999;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
  z-index: 3001;
}

@media (max-width: 30em) {
  .share__close:link, .share__close:visited {
    font-size: 3rem;
    top: .5rem;
    right: 1.5rem;
    color: #ffb900;
  }
}

.share__close:hover {
  color: #ffb900;
  cursor: pointer;
}

.header {
  padding: 5rem 0 5rem;
}

@media (max-width: 30em) {
  .header {
    padding-top: 10rem;
    padding-bottom: 0rem;
  }
}

.header__textBox {
  text-align: center;
}

.navigation {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  border-radius: 3%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  padding: 1rem;
}

@media (max-width: 30em) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ffb900, #f7f7f7);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media (max-width: 30em) {
  .navigation__background {
    height: 3rem;
    width: 3rem;
    top: 4.5rem;
    right: 4.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (max-width: 30em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.navigation__link:hover, .navigation__link:active {
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  display: inline-block;
  z-index: 2500;
}
/*# sourceMappingURL=main.css.map */