
/* COUNTRY SELECTION DROPDOWN */

select {
    appearance: none;
    border: none;
    padding: 1rem;
    outline: none;
}

select:required:invalid {
    color: $color-grey-dark-2;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: $color-grey-dark-3;
}

/* FORM */

.form {
    width: 100%;
    padding-right: 5rem;

    &__group {        
        margin-bottom: 2rem;
        display: inline-block;
        width: 100%;
        line-height: 0;
        direction: rtl;    
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        color: $color-grey-dark-3;
        padding: 1rem;
        width: 45%;
        border-radius: 2px;
        background-color: $color-grey-light-1;
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all .3s;
        direction: ltr;

        &:focus:invalid {
                border-bottom: 3px solid $color-secondary-dark;
        
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__next {
        text-align: center;
    }

    &__link {
        padding: 2rem 0;

        &:link,
        &:visited {
            color: $color-grey-dark-2;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
    
        &:hover,
        &:active {
            color: $color-secondary-dark;
            cursor: pointer;
        }
    }
}