.dario {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .3);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    backdrop-filter: blur(10px);

    &__memory {
        @include center;
        margin: 0 auto;
        height: 80%;
        width: 25%;
        box-shadow: 0 4rem 6rem rgba($color-black, .8);
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all .5s;
        border-radius: 3px;
        background-image: url(/img/Dario-Sr.jpg);
        background-color: rgba($color-black, .6);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;



        &-text {
            width: 100%;
            height: 100%;
            background-color: rgba($color-grey-dark-3, .8);
            position: relative;

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                padding: 0;
                color: $color-grey-light-2;
                text-align: justify;
                line-height: 1.3;

            }
        }
    }



        //OPEN STATES

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__memory {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    // END OPEN STATES    

    &__close {

        &:link,
        &:visited {
            color: $color-grey-light-2;
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
            font-size: 4rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
            z-index: 3001;
        }

        &:hover {
            color: $color-white;
        }
    }
}